{# app/templates/auth/login.html #}

{% extends "base.html" %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block content %}
    <div class="login-container">
        <h2>Είσοδος χρήστη</h2>
        <form method="POST" action="{{ url_for('auth.login') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.remember() }} {{ form.remember.label }}
            </div>
            <div class="form-group">
                {# {{ form.submit() }} #}
                <br>
                <button type="submit">Login</button>
            </div>
        </form>
        <br>
        <p> Δεν έχετε λογαριασμό; <a href="{{ url_for('auth.register') }}">Εγγραφείτε εδώ</a></p>
    </div>
{% endblock %}

