{# app/templates/admin/dashboard.html #}

{% extends "base.html" %}

{% block head %}
    <title>Admin Dashboard</title>
{% endblock %}

{% block content %}
    <div class="dashboard-container">
        <h2>Admin Dashboard</h2>
        <div class="dashboard-links">
            <a href="{{ url_for('admin.users') }}">Χρήστες</a>
{#            <a href="{{ url_for('admin.manage_users')}}">Διαχείριση χρηστών</a>  #}
            <a href="{{ url_for('admin.settings') }}">Settings</a>
            <a href="{{ url_for('admin.reports') }}">Reports</a>
            <a href="{{ url_for('admin.logs') }}">Logs</a>
        </div>
    </div>
{% endblock %}