<!-- app/templates/navbar.html -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">
            FlaskCKE
        </a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item text-light me-3">
                    👤 {{ current_user.username }}
                    </li>

                    {% if current_user.role == 'admin' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.dashboard') }}">Admin</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="btn btn-outline-light btn-sm"
                            href="{{ url_for('auth.logout') }}">
                            Logout
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-outline-light btn-sm"
                            href="{{ url_for('auth.login') }}">
                            Login
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
