{# app/templates/navbar.html #}

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">
            Δοκιμή
        </a>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.index') }}">Αρχική σελίδα</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item text-light">
                        <a class="nav-link" href="#">👤 {{ current_user.username }}</a>
                    </li>

                    {% if current_user.role == 'admin' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.dashboard') }}">Διαχειριστής</a>
                        </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link"
                            href="{{ url_for('auth.logout') }}">
                            Αποσύνδεση
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{{ url_for('auth.login') }}">
                            Είσοδος
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
